
on:
  push:

jobs:
  backend:
    name: Backend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        run: ./gradlew build -x check

      - name: Check
        run: ./gradlew check

      - name: Publish JUnit test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: backend/build/test-results/test/*.xml
      
      - name: Merge SARIF files
        run: |
          mkdir -p merged_sarifs
          # Iterate over each SARIF file
          for sarif in $(find build/reports -name '*.sarif'); do
            # For each run in the SARIF, create a separate SARIF file by category
            jq -c '.runs[]' "$sarif" | while read run; do
              category=$(echo "$run" | jq -r '.tool.driver.name' | tr '[:upper:]' '[:lower:]')
              # Create a SARIF file with just this run
              echo "{\"version\":\"2.1.0\",\"runs\":[$run]}" > "merged_sarifs/${category}_$(basename "$sarif")"
            done
          done

      - name: Upload SARIF files
        if: always()
        run: |
          for sarif_file in merged_sarifs/*.sarif; do
          echo "Uploading $sarif_file"
          gh api -X POST /repos/${{ github.repository }}/code-scanning/sarifs \
            -F sarif=@$sarif_file
          done

  frontend:
    name: Frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Tests
        run: npm test

      - name: Build
        run: npm run build




