
on:
  push:

jobs:
  backend:
    name: Backend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        run: ./gradlew build -x check

      - name: Check
        run: ./gradlew check

      - name: Install gh-code-scanning extension
        if: always()
        run: gh extension install github/gh-code-scanning

      - name: Publish JUnit test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: backend/build/test-results/test/*.xml

      - name: Upload spotbugs SARIF
        if: always()
        run: |
          for f in build/reports/spotbugs/*.sarif; do
            echo "Uploading $f"
            gh code-scanning upload --sarif="$f"
          done

      - name: Upload detekt SARIF
        if: always()
        run: |
          for f in build/reports/detekt/*.sarif; do
            echo "Uploading $f"
            gh code-scanning upload --sarif="$f"
          done

      - name: Upload ktlint SARIF
        if: always()
        run: |
          for f in build/reports/ktlint/**/*.sarif; do
            echo "Uploading $f"
            gh code-scanning upload --sarif="$f"
          done

  frontend:
    name: Frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Tests
        run: npm test

      - name: Build
        run: npm run build




